h1 {
    color: rgb(70, 81, 180);
    font-family: Times, 'Times New Roman';
    background-color: rgb(228, 233, 227);
    text-align: center;
}

img {
    height: 250px;
    width: 320px;
}

h2 {
    color: rgb(0, 4, 255);
}s

p {
    color: rgba(0, 0, 0, 0.795);
}

h3 {
    font-weight: 700s;
}

.first {
     background-color: rgb(238, 255, 0);
}

.second {
    background-color: blue;
}